{% extends 'onlinetest/base.html' %}

{% block content %}

{% load static %}
<style>
    body {
        background: url("{% static 'onlinetest/bg2.jpg' %}") no-repeat;
        color: rgb(250, 239, 239);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-color: black;
        font-family: "Allerta Stencil", Sans-serif;
    }
</style>
<link rel="stylesheet" href="{% static 'onlinetest/css/finish.css' %}">

<!-- <div style="margin: 10% 10% 20% 10%;" class="text-center">
    <p style="font-size: 3rem; font-family: 'Share', sans-serif;">
        Hey {{ user }}, Thanks for taking the test.</p>
        <br><br>
    <p style="font-size: 1.7rem; font-family: 'Share', sans-serif;">We will get back to you soon ! Have a good day :)</p>
    <br><br>
    <p style="font-size: 1.7rem; font-family: 'Share', sans-serif;">May the source be with you!</p>
</div> -->

<div class=content>
    <div class="wrapper-1">
        <div class="wrapper-2">
            <h2 style="font-family: Slackey; font-size: 3.8em;">Thank you for participarting !</h2>
            <p>Results of the first round will be out soon.</p>
            <p>Till the, may the source be with you! </p>
            <button class="go-home" onclick="location.href = '/logout/'">
                Finish
            </button>
        </div>
        <div class="footer-like">
            <p>Have you joined our Discord yet?
                <a href="https://discord.gg/4D5jXgt9">Click here join</a>
            </p>
        </div>
    </div>
</div>

<br><br>
{% include 'components/footer.html' %}

<style>
    .footer {
        position: relative !important;
    }
</style>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" href="{% static 'onlinetest/css/footer.css' %}">
{% endblock %}