{% extends 'onlinetest/base.html' %}

{% block content %}
<!-- <div class="text-center container">
    <div style="width: 20%; margin: 10%;" class="btn white darken-4 col s10 m4">
        <a href='{% url "social:begin" "google-oauth2" %}' style="text-transform:none">
            <div class="left">
                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            </div>
            Login with Google
        </a>
   </div>
</div> -->
{% load static %}

<style>
    body {
      background: url("https://newevolutiondesigns.com/images/freebies/orange-wallpaper-24.jpg") no-repeat;
      color:rgb(250, 239, 239);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      background-color: black;
      font-family: "Allerta Stencil", Sans-serif;
    }
    .navbar-brand{
      color:#ffbf00;
    }
    .navbar{
      /* background-color:transparent; */
      color:#ffbf00;
    }
    .nav-cont{
      border-color:transparent;
      font:#ffbf00;
    }
}
    </style>
   

  <div class="glug">
  <img src="{% static 'onlinetest/logo.png' %}" alt="glug" style="width:16%;">
 <br><br>
  <h3><strong>Total Time: 75 mins</strong></h3>
  <br>
  <h3><strong> Window Time: 9 pm  to 3 am </strong></h3>
  <br><br>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div class="button login-container">
        <a href='{% url "social:begin" "google-oauth2" %}' style="text-transform:none;color:#ffbf00;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Login With Google</strong>
        </div>
        <div class="panel-body">
              <div class="left">
                  <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
