{% extends 'onlinetest/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'onlinetest/css/main.css' %}">
 


{% block content %}

<style>
    body {
        overflow: hidden;
  background-image: url("{% static 'onlinetest/blue.jpg' %}");
  background-size: cover;

  /*align-items: center;*/
}

/**/
</style>
   

   <div id="bkg"> 
<span class="ml2" style="font-size:3vw;">Welcome to GNU Linux Users Group Auditions</span>
<br>
<br>

<img src="{% static 'onlinetest/logo.png' %}" alt="logo" class="responsive" width="100" height="400">
<br>
<br>
<h3 style="font-size:2vw;">Total time: 75 minutes
<br>
<br>

Windows Time: 9pm to 3am</h3>
<br><br><br><br><br>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
<button class="button">
  <div class="pattern">
    <div class="target inner bg1"></div>
  </div>
  <div class="text"><strong>Login with Google</strong>
  <br>
    <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
  </div>
</button>
<button class="button">
  <div class="pattern">
    <div class="target inner bg2"></div>
  </div>
  <div class="text"><strong>Login with Facebook</strong>
  <br>
    <img width="20px" alt="Google &quot;G&quot; Logo" src="https://www.freepngimg.com/thumb/facebook/65284-icons-wallpaper-desktop-photos-computer-facebook-icon-thumb.png"/>
  </div>
</button>
</div>
</div>
</div>

{% endblock %}
