{% extends 'onlinetest/base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p class="alert alert-primary">{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="container question">
    {% for question in questions %}
    <div class="container-fluid" style="padding: 15% 0 20% 0; width: 60%; margin: 0 auto;" id="sub-question-box">
    <form method="POST" action="{{ '/answers' }}/{{ question.id }}">
        {% csrf_token %}
        <h2>{{ question.id }}. {{ question.title }}</h2>
        <textarea rows="5" class="form-control" name="text" type="text" placeholder="Type your answer here"></textarea>
        <br>
        <button style="color: white;" type="submit" class="btn btn-large btn-block btn-primary">Save</button>
    </form>
    </div>
    {% endfor %}

    <a href="{{ '/finish/' }}" class="finish-btn btn btn-large btn-block btn-success">Finish</a>
</div>

{% endblock %}
