{% extends 'onlinetest/base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p class="alert alert-primary">{{ message }}</p>
    {% endfor %}
{% endif %}

<div id="countdown">
    <p style="font-size: 1.3rem;">Time Left</p>
    <div class="canvas-container">
        <canvas id="hours"></canvas>
        <canvas id="minutes"></canvas>
        <canvas id="seconds"></canvas>
    </div>
</div>

<div class="container question">
    {% for question in questions %}
    <div id="{{ question.id }}" class="container-fluid question-box" id="sub-question-box">
    <form method="POST" action="{{ '/answers' }}/{{ question.id }}">
        {% csrf_token %}
        <div class="form-group">
          <label for="question-name" class="question-name">{{ question.id }}. {{ question.title }}</label>
          {% if question.answer %}
          <textarea rows="5" class="form-control" name="text" type="text" placeholder="Type your answer here">{{ question.answer }}</textarea>
          {% else %}
          <textarea rows="5" class="form-control" name="text" type="text" placeholder="Type your answer here"></textarea>
          {% endif %}
          <br>
          <button style="color: white; width: 10vw; margin-left: 25vw;" type="submit" class="btn btn-md btn-primary ">Save</button>
        </div>
        <hr>
    </form>
    </div>
    {% endfor %}
    <div class="text-center">
        <a href="{{ '/finish/' }}" class="btn btn-large btn-success mb-5 questions-button">Finish</a>
    </div>
</div>

{% load static %}
<script src="{% static 'onlinetest/js/main.js' %}"></script>
<script src="{% static 'onlinetest/js/timer.js' %}"></script>

<script>
    var t_left = {{ time_left }};
    //console.log(t_left);
    var init_time = parseInt(t_left);// for timer element
    var tleft = parseInt(t_left); // for updating timer
    startTimer();
    start_timer_updater(init_time);

</script>

{% endblock %}
