{% extends 'onlinetest/base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'onlinetest/css/questions.css' %}">

</style>
<div class="sticky" id="countdown">
  <p>Time Left</p>
  <div class="canvas-container">
      <canvas id="minutes"></canvas>
      <canvas id="seconds"></canvas>
  </div>
</div>
</div>
<br><br><br><br><br><br>
<div class="container">
  {% for question in questions %}
    <div class="row" id="q{{ question.id }}">
      <div class="card">

        <h2 class="card-heading">{{ forloop.counter }}. {{ question.title }}</h2>
        <div class="card-body">
          <form method="POST" action="{{ '/answers' }}/{{ question.id }}">
            {% csrf_token %}
            {% if question.answer %}
            <textarea rows="6" class="form-control" name="text" placeholder="Type your answer here ...">{{ question.answer }}</textarea>
            {% else %}
            <textarea rows="6" class="form-control" name="text" placeholder="Type your answer here ..."></textarea>
            {% endif %}
            <span class="a">
            <button type="submit" class="btn btn-dark submit-btn">Submit Answer</button></span>
          <span class="a">
            {% if messages %}
                {% for msg in messages %}
                    {% if question.id|stringformat:"i" == msg.message|slice:"-1:"|first %}
                         <p class="btn btn-light msg-btn">{{ msg.message|slice:"-2" }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
          </span>  
          </form>
          
        </div>
      </div>
    </div>
    <br>
  {% endfor %}
  <div class="text-center">
      <a href="{{ '/finish/' }}" class="btn finish-btn">Finish</a>
    </div>
    <br>
  </div>



<script src="{% static 'onlinetest/js/main.js' %}"></script>
<script src="{% static 'onlinetest/js/timer.js' %}"></script>

<script>
    var t_left = {{ time_left }};
    //console.log(t_left);
    var init_time = parseInt(t_left);// for timer element
    var tleft = parseInt(t_left); // for updating timer
    startTimer();
    start_timer_updater(init_time);

</script>

{% endblock %}
