version: "3.8"

services: 
  db:
    image: postgres:12
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
  server:
    build: 
      context: ./
      dockerfile: Dockerfile
    depends_on: 
      - db
    command: >
      bash -c "python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py collectstatic --no-input &&
      gunicorn OnlineTestSuite.wsgi:application --bind 0.0.0.0:8000 --workers 4"
    volumes:
      - ./static:/ots/static
      - ./media:/ots/media
      - ./:/ots
    ports:
      - "8000:8000"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

volumes:
  postgres_data:   
    