.navbar {
  background-color:rgba(60,40,60,0.6);
  backdrop-filter:blur(4px);
  opacity: 0.7;
  
}
.nav-link{
    font-size: 19px;
    padding: 0px 5px;
    font-family: Share;
}

.navbar-brand{
  font-family: Share;
  font-size: 20px;
  margin-left: 10px;
}

