body {
  background: url("../bg.jpg") no-repeat;
  background-size: cover;
}

.navbar {
  border-bottom: #000 1px solid;
  opacity: 0.8; }

.nav-link {
  font-size: 17px;
  margin-right: 13px; }

.nav-item {
  padding-right: 8px;
  text-decoration-color: #fff; }

.question h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 4 rem;
}

.finish-btn {
    width: 40% !important;
}

.question-box {
  width: 60vw !important;
  padding-bottom: 5%;
  margin: auto;
}

.question {
  border: 1px solid #fff;
  padding: 20px 30px;
  margin-top: 20vh;
  -webkit-box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  margin-left: 40vw;
}

.login-container {
  border: 1px solid #fff;
  padding: 20px 30px;
  margin-top: 50vh;
  margin-left: 30%;
  margin-right: 30%;
  -webkit-box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
}

.questions-button {
  width: 150px;
  height: 40px;
  margin: -20px -75px;
  position:relative;
  top:50%;
  left:50%;
  margin-top: 10px;
}

.question-name {
  overflow: auto;
}

#countdown {
  position: relative;
  top: 100px;
}

.canvas-container, #countdown > div {
  display: flex;
  justify-content: center;
  margin: 5px;
}

canvas {
   margin: 5px;
}

.answer-button {
  width: 100px;
  height: 40px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}

@media only screen and (max-width: 500px) {
  .question-box {
    width: 90vw !important;
  }
}