.navbar {
  background-color:rgba(60,40,60,0.6);
  backdrop-filter:blur(4px);
  opacity: 0.7;
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
}

.nav-link{
    font-size: 18px;
    padding: 0px 5px;
    font-family: 'Slackey','cursive';
}

.navbar-brand{
  font-family: 'Slackey','cursive';
  font-size: 18px;
  margin-left: 10px;
}

.nav-link img {
  color: white;
  right: 10%;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-position: center;
}

