body {
  background: url("../bg.jpg");
  background-size: stretch;
  color:white;
}
.glug{
  position:absolute;
  margin-top:15vh;
  margin-left:20vw;
  width:60vw;
  display:inline-block;
  text-align:center;

title {
  font-weight: bold;
}

}
.panel{
  padding-top:5px;
  padding-bottom:5px;
}
.navbar {
  border-bottom: rgb(26, 24, 24) 1px solid;
  opacity: 0.8; }

.nav-link {
  font-size: 17px;
  margin-right: 13px; }

.nav-item {
  padding-right: 8px;
  text-decoration-color: #fff; }

.question h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 4 rem;
}

.finish-btn {
    width: 40% !important;
}

.question-box {
  width: 60vw !important;
  padding-bottom: 10%;
  color:white;
  margin: auto;
}

.question {
  border: 1px solid #fff;
  /* padding: 20px 30px; */
  padding-top: 3vh;
  margin-top: 10vh;
  -webkit-box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  box-shadow: -2px 7px 20px 11px rgba(0,0,0,0.3);
  /* margin-left: 40vw; */
}

.login-container {
  position: absolute;
  border: 1px solid rgba(64, 185, 92, 0.3);
  margin-left:40vw;
  width:20%;
  display:inline-block;
  margin-top:50vh;
  text-align:center;
  -webkit-box-shadow: -2px 7px 20px 11px rgba(46, 184, 154, 0.3);
  -moz-box-shadow: -2px 7px 20px 11px rgba(64, 185, 154, 0.3);
  box-shadow: -2px 7px 20px 11px rgba(64, 185, 154, 0.3);
}

.questions-button {
  width: 25vw;
  margin-left: 30%;
  margin-right: 30%;
}

.question-name {
  overflow: auto;
}


#countdown {
    /* for debugging */
    /* border: 2px solid red; */
    position: fixed;
    z-index:100;
    background: rgb(252, 249, 249);
    top:0;
    right:0;
    opacity: 1;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin-top: 86vh;
    box-shadow: -7px 10px 18px -8px #000;
    border-radius: 5%;
}

#countdown p {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}
#countdown .canvas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 440px;
  margin: 0 auto;
}

 @media (max-width:500px){
  #countdown .canvas-container { max-width: 220px; }
  #countdown canvas:nth-child(-n+2) { margin-bottom: 10px; }
 
}
/* @media (max-width:600px){
  .login-container{
    margin-left:30vw;
    width:40%;
    margin-top:60vh;
    text-align:center;
  }
  .glug{
    margin-top:20vh;
    margin-left:20vw;
    width:30vw !important;
    text-align:center;
    text-size-adjust: 30px;
  }
} */
