@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
body {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: #ffffff;
  overflow: hidden !important;
}

/* .navbar {
  visibility: hidden;
} */

.container-fluid {
  padding: 5%;
  position: relative;
}

.type {
  display: flex;
  width: 65%;
  font-family: "Slackey", "cursive";
  justify-content: center;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.type h1 {
  font-weight: 600;
  font-size: 4rem;
}

/* Cursor */

.txt {
  padding-right: 5px;
  border-right: 1px solid white;
}

/* CARD */

.card {
  width: 100%;
  height: auto;
  background-color: rgba(60, 40, 60, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  box-shadow: 3px 3px 6px #222;
  text-align: center;
  margin-top: 50px;
  padding: 15px;
  font-family: "Slackey", "cursive";
}

#glug-logo {
  width: 15vh;
  height: auto;
  margin: 2%;
}

.info {
  padding: 2% 3%;
}

/* Login Button */

/* .panel {
  padding-top: 5px;
  padding-bottom: 5px;
} */

.login-container {
  position: relative;
  margin: 2% auto;
  display: inline-block;
  text-align: center;
}

/* .google-icon img {
  width: 20px;
  height: auto;
} */

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 9px;
  margin-left: -8px;
  width: 20px;
  height: 20px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Slackey", "cursive";
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669f2;
}

/* @media (max-width: 1000px) {
  .card {
    position: absolute;
    margin: 0;
    top: 270px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
} */

@media (max-width: 1600px) {
  .card {
    position: absolute;
    margin: 0;
    top: 270px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .type h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .login-container {
    width: 70%;
  }
}

@media (max-width: 600px) {
  body {
    overflow-y: scroll !important;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html #background, body #background {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

html .main, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

html .main #content, body .main #content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 24px;
  height: 100%;
  position: relative;
  text-align: center;
  top: 33%;
}

html .main #content .title, body .main #content .title {
  color: white;
  font-family: "Slackey", "cursive";
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

html .main #content .title span, body .main #content .title span {
  font-size: 4rem;
  cursor: pointer;
}

html .main #content .title:hover, body .main #content .title:hover {
  -webkit-animation: MISSION-HOVER 1.5s infinite;
  animation: MISSION-HOVER 1.5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-webkit-keyframes MISSION-HOVER {
  0%, 100% {
    font-size: 4rem;
    color: white;
  }
  50% {
    color: #bffcff;
    letter-spacing: 5px;
    text-shadow: 0px 0px 30px #bffcff;
  }
}

html .main #content p, body .main #content p {
  color: #e6dbae;
  font-family: "Slackey", "cursive";
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

html .main #content p:last-child, body .main #content p:last-child {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3em auto;
  padding: 0;
  letter-spacing: 0.1rem;
}

html .main #content p:last-child>a, body .main #content p:last-child>a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in;
}

html .main #content p:last-child>a:hover, body .main #content p:last-child>a:hover {
  color: #fff;
}

html .main #content section, body .main #content section {
  color: #fff;
  margin: 0 auto;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 700;
}

html .main #content section ul, body .main #content section ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
}

html .main #content section ul li, body .main #content section ul li {
  display: inline-block;
  margin-right: 2rem;
  width: 6rem;
}

html .main #content section .timenumbers, body .main #content section .timenumbers {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  font-family: 'Slackey', 'cursive';
  color: aquamarine;
}

html .main #content section p.timedescription, body .main #content section p.timedescription {
  font-size: 0.5rem;
  font-variant: small-caps;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0px;
}

.gplogin {
  transition: background 200ms ease-in-out 0s;
  -webkit-transition: background 200ms ease-in-out 0s;
  -moz-transition: background 200ms ease-in-out 0s;
  -o-transition: background 200ms ease-in-out 0s;
  -ms-transition: background 200ms ease-in-out 0s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
  margin-top: 12px;
  background-color: #dd4c39;
  -webkit-border-top-left-radius: 1px;
  -moz-border-radius-topleft: 1px;
  border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 1px;
  -moz-border-radius-topright: 1px;
  border-top-right-radius: 1px;
  -webkit-border-bottom-right-radius: 1px;
  -moz-border-radius-bottomright: 1px;
  border-bottom-right-radius: 1px;
  -webkit-border-bottom-left-radius: 1px;
  -moz-border-radius-bottomleft: 1px;
  border-bottom-left-radius: 1px;
  text-indent: 0;
  display: block;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  width: 85%;
  text-decoration: none !important;
  text-align: center;
  justify-content: center;
}

.gplogin:hover {
  background-color: #f06e60;
}

.gplogin:active {
  position: relative;
  top: 1px;
}

.gplogin span {
  text-align: center;
  margin-left: 15%;
  font-size: .9em;
  font-family: "Slackey", "cursive";
  font-weight: 700;
  font-style: italic;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  font-family: Slackey;
  font-size: 1rem;
}

.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.offset {
  --color: silver;
  --hover: lightblue;
}

button {
  color: var(--color);
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

@media screen and (max-width: 500px) {
  .txt-type {
    font-size: 0.9em !important;
  }
  .login-container {
    align-items: center !important;
  }

  .footer {
    margin-bottom: -10vh !important;
  }
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: none !important;
  background-size: contain;
}
